@font-face {
    font-family: inter;
    src: url(../assets/fonts/static/Inter-Regular.ttf)
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: inter;
    list-style: none;
    /* outline: 1px solid brown;*/
}

.body-wrapper {
    padding: 8%;
}

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

aside h1 {
    color: var(--soft-orange);
}



nav {
    height: 80px;
    background-color: white;
}

.logo {
    padding: 20px 0 0 0;
    /* padding-left: 30px; */
    width: auto;
    float: left;
}

.list-item {
    float: right;
    color: var(--grayish-blue);
    margin-right: 25px;
    margin-top: 17px;
}

.list-item li {
    float: left;
    padding: 13px 13px;
    font-size: 1em;
    transition: all .7s ease-in-out;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--soft-red) !important;
}

/*   Start nav bar for small screens   */

.icon {
    display: none;
}
.toggle {
    float: right;
    margin: 20px;
    color: rgb(169, 168, 168);
    font-size: 30px;
    border: 1px solid #EEE;
    padding: 0px 5px;
    border-radius: 4px;
    cursor: pointer;
}
  
/*   End nav bar for small screens   */

.main__section {
    /* display: flex; */
    width: 70%;
    padding-right: 30px;
    flex-direction: column;
    /* padding-left: 30px;
    padding-right: 20px; */
    order: 1;
    margin-bottom: 100px;
}

.main__heading {
    font-size: 4.5em;
    line-height: 1;
    font-weight: bolder;
    padding: 0 45px 0 0;
    /* position: relative; */
    /* flex-basis: 1300px; */
    /* order: 1; */
}

.main__info {
    font-size: 1.2em;
    color: var(--dark-grayish-blue);
    padding: 0 0 0 50px;
     /* order: 2; */
}

.main__info p {
    font-size: 15px;
    line-height: 2;
}

/* CSS Specificity */
.main__info button {
    margin-top: 50px;
    padding: 15px 25px;
    border-radius: 0px;
    border: none;
    background-color: var(--soft-red);
    color: white;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 5px;
    font-size: 12px;
}

.main__info button:hover {
    background-color: var(--very-dark-blue);
    transition: background-color 0.5s;
}

.img__fill {
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    margin-bottom: 30px;
    order: 1;
}

.img__fill img {
    max-width: 100%;
    height: auto;
}

.mobile-img {
    display: none;
}

.iframe_fill {
    width: 790px;
    height: 330px;
}

.content__fill {
    display: flex;
    flex-direction: row;
}

.content__fill div {
    width: 50%;
}

.aside__section {
    /*margin-left: -50px;*/
    width: 30%;
    background-color: var(--very-dark-blue);
    height: auto;
    order: 2;
}

.aside__section h1 {
    font-size: xx-large;
    font-weight: bolder;
    padding: 20px;
}

.aside__section h3 {
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px 20px;
}

.aside__section h3 a:hover {
    color: var(--soft-orange) !important;
}

.aside__section p {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    font-size: 1.15em;
}

.hr-style-1 {
    border-top: 2px solid #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;    
}

.container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}

.lower-container {
    justify-content: space-between;
}

.lower__div {
    display: flex;
    width: 33.3%;
    flex-direction: row;
}

.lower-img-div {
    order: 1;
    width: 30%;
}

.lower-img-div img {
    height: auto;
    width: 100%;
}

.lower-alt-div {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    order: 2;
    width: 70%;
}

.lower-alt-div span {
    color: var(--grayish-blue);
    font-size: 2em;
    font-weight: bolder;
    padding-bottom: 20px;
}

.lower-alt-div h4 {
    padding-bottom: 20px;
    font-weight: bolder;
}

.lower-alt-div p {
    color: var(--dark-grayish-blue);
}

/* Media Queries for Smaller Screens */
@media (max-width: 414px) {
    .body-wrapper {
        padding: 5%;
    }
    .icon {
      display: block;
      width: 100%;
      height: 80px;
      background-color: rgb(255, 255, 255);
    }
    .list-item {
      width: 100%;
      margin: 0;
      padding: 0;
      position: relative;
      top: -4px;
      background-color: #222;
      display: none;
    }
    .list-item li {
      text-align: center;
      display: block;
      border-bottom: 1px solid #333;
      float: none;
    }
    .content__fill, .container {
        flex-direction: column;
    }

    .container {
        margin-top: 20px;
    }

    .lower-container {
        flex-direction: column;
    }

    .iframe_fill {
        width: 375px;
        height: 330px;
    }

    .main__section, 
    .aside__section,
    .lower__div, 
    .content__fill div {
        width: 100%;
    }

    .desktop-img {
        display: none;
    }

    .mobile-img {
        display: block;
    }

    .main__section {
        padding-right: 0px;
    }

    .main__heading {
        font-size: 2.8em;
    }

    .main__info {
        padding: 0px;
        margin-top: 20px;
    }

    .lower__div {
        display: flex;
        width: 100%;
        flex-direction: row;
        margin-bottom: 15px;
    }

    .lower-container {
        justify-content: safe;
    }

    .lower-img-div img {
        height: 100%;
    }

    .lower-alt-div span {
        padding-bottom: 5px;
    }
    
    .lower-alt-div h4 {
        padding-bottom: 5px;
    }
    
    .lower-alt-div {
        padding-left: 10px;
    }
}

