@font-face {
    font-family: inter;
    src: url(../assets/fonts/static/Inter-Regular.ttf)
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: inter;
    list-style: none;
    /*    outline: 1px solid brown;*/
  }

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

aside h1 {
    color: var(--soft-orange);
}



nav {
    height: 80px;
    background-color: white;
}

.logo {
    padding: 10px;
    padding-left: 30px;
    width: auto;
    float: left;
}

.list-item {
    float: right;
    color: var(--grayish-blue);
    margin-right: 25px;
    margin-top: 17px;
}

.list-item li {
    float: left;
    padding: 13px 13px;
    font-size: 1em;
    transition: all .7s ease-in-out;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--soft-red) !important;
}

/*   Start nav bar for small screens   */

.icon {
    display: none;
}
.toggle {
    float: right;
    margin: 20px;
    color: rgb(169, 168, 168);
    font-size: 30px;
    border: 1px solid #EEE;
    padding: 0px 5px;
    border-radius: 4px;
    cursor: pointer;
}
  
/*   End nav bar for small screens   */

@media (max-width: 1309px) {
    .icon {
      display: block;
      width: 100%;
      height: 80px;
      background-color: rgb(255, 255, 255);
    }
    .list-item {
      width: 100%;
      margin: 0;
      padding: 0;
      position: relative;
      top: -4px;
      background-color: #222;
      display: none;
    }
    .list-item li {
      text-align: center;
      display: block;
      border-bottom: 1px solid #333;
      float: none;
    }
  }

.section-main {
    position: relative;
    width: 70%;
    float: left;
    padding-left: 30px;
}

.main-h1 {
    font-size: 4.5em;
    font-weight: bold;
    position: relative;
    width: 50%;
    float: left;
}

.main-div {
    font-size: 1.2em;
    color: var(--dark-grayish-blue);
}

button {
    margin-top: 60px;
    padding: 15px 45px;
    border-radius: 0px;
    border: none;
    background-color: var(--soft-red);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: var(--very-dark-blue);
    transition: background-color 0.5s;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 30px;
}

.fill img {
    position: relative;
    min-width: 100%;
    min-height: 100%;
}

aside {
    margin-left: 1100px;
    margin-right: 35px;
    background-color: var(--very-dark-blue);
    height: auto;
}
aside h1 {
    font-size: xx-large;
    font-weight: bolder;
    padding: 20px;
}

aside h3 {
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px 20px;
}

aside p {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    font-size: 1.15em;
}

.hr-style-1 {
    border-top: 2px solid #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;    
}