.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@font-face {
    font-family: inter;
    src: url(../assets/fonts/static/Inter-Regular.ttf)
}

.button:hover {
    background-color:	#00001a !important;
    cursor: pointer !important;
}

/*.button.pointer {
    
}*/

body {
    font-family: inter !important;
}

.ml-auto {
    margin-left: auto;
}

.bg-alt {
    background-color: #00001a;
}

.hr-style-1 {
    border-top: 2px solid #ffffff;    
}

.navbar-custom {
    background-color: #ffffff;
}

.fill-div {
    /*text-align: justify;*/
    font-size: 30.5pt;
}

.btn-red {
    background-color: #ef5c51 !important;
    color: #ffffff !important;
}

.low-nums{
    font-size: 2em;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.le-font {
    font-size: 1.25em;
}

.le-font2 {
    font-size: 1.5em;
}

.nav-links:hover {
    color:hsl(5, 85%, 63%) !important;
}

.news-links:hover {
    color: hsl(35, 77%, 62%);
}

a:link {
    text-decoration: none;
    color: inherit;
}